<!doctype html>
<html lang="en">

<!--문서의 정보 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<!--문서의 내용, 실제 눈에 보여지는 페이지 -->
<body>
    <!-- 텍스트 태그 -->
    <h1>홈페이지 만들기</h1> <!-- 머릿글(대주제) -->
    <h2>뭐 부터 시작?</h2>   <!-- 부머릿글(부주제) -->

    <!-- 링크태그 -->
    <p>TEST <a href="http://google.com"></a></p> <!-- 단락 -->

    <!-- 미디어 태그 -->
    <img src="https://i.imgur.com/fNghUYC.png" height="200px"/> <!-- 이미지 -->

    <!-- 리스트 태그 -->
    <h2>언어의 종류</h2>
    <ul> <!-- 순서가 없는 리스트 -->
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
    </ul>

    <!-- 순서가 있는 리스트 -->
    <ol>
        <li></li>
        <li></li>
    </ol>

    <!-- 테이블 태그 -->
    <table border="1">
        <tr>
            <td>언어</td>
            <td>역할</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>


    <!-- 입력 태그 -->
    <h2>질문하기</h2>
    <input type="text" />
    <textarea></textarea>
</body>
</html>